<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery Tracking</title>
</head>
<body>
<div th:replace="./v1/fragments/navbar"></div>
<div class="container">
    <h1 class="text-center display-1">VIEW ADDRESS</h1>
    <form th:action="@{/addresses/update}" method="post" th:object="${addressDto}">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <input th:field="*{address}" type="text" class="form-control" id="address" th:disabled="true">
            <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        </div>
        <a th:href="@{/addresses}" class="btn btn-lg btn-warning mb-3">Back</a>
    </form>
</div>
<div th:replace="./v1/fragments/footer"></div>
</body>
</html>