<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
  </head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container w3-padding-8">
        <h1 class="display-1 text-center">ADDRESSES</h1>
        <table 	class="table table-bordered table-bordered table-striped table-dark table-striped table-hover text-center">
            <thead>
            <tr class="text-warning">
                <th>ADDRESS</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${addresses.empty}">
                <td colspan="3">No addresses exist.</td>
            </tr>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.address}"></td>
                <td>
                    <a th:href="@{/addresses/detail(id=${address.id})}" class="btn btn-info m-1">View</a>
                    <a th:href="@{/addresses/update(id=${address.id})}" class="btn btn-success m-1">Update</a>
                    <a th:href="@{/addresses/delete/{id}(id=${address.id})}" class="btn btn-danger m-1">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/addresses/add}" class="btn btn-lg btn-primary mb-3">Add Address</a>
        <a th:href="@{/addresses}" class="btn btn-lg btn-warning mb-3">Back</a>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>