<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ABC EXPRESS</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div th:replace="./v1/fragments/navbar"></div>
		<div class="container">
			<h1 class="display-1 text-center">ORDERS</h1>
			<table class="table table-responsive table-bordered table-striped table-dark table-striped table-hover text-center">
				<thead>
					<tr class="text-warning">
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">ORDER ID</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=userFullName&sortDirection=' + ${reverseSortDirection}}">USER</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=userUsername&sortDirection=' + ${reverseSortDirection}}">USER'S USERNAME</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=userEmail&sortDirection=' + ${reverseSortDirection}}">USER'S EMAIL</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=userPhoneNumber&sortDirection=' + ${reverseSortDirection}}">USER'S PHONE NUMBER</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackageId&sortDirection=' + ${reverseSortDirection}}">PACKAGE ID</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackagePackageName&sortDirection=' + ${reverseSortDirection}}">PACKAGE NAME</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackageWeightId&sortDirection=' + ${reverseSortDirection}}">WEIGHT</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackageBoxSizeId&sortDirection=' + ${reverseSortDirection}}">BOX SIZE</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackageDescription&sortDirection=' + ${reverseSortDirection}}">DESCRIPTION</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shippingPackageStatus&sortDirection=' + ${reverseSortDirection}}">STATUS</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=shipperId&sortDirection=' + ${reverseSortDirection}}">SHIPPER ID</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=recipientFullName&sortDirection=' + ${reverseSortDirection}}">RECIPIENT</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=recipientUsername&sortDirection=' + ${reverseSortDirection}}">RECIPIENT'S USERNAME</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=recipientEmail&sortDirection=' + ${reverseSortDirection}}">RECIPIENT'S EMAIL</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=recipientPhoneNumber&sortDirection=' + ${reverseSortDirection}}">RECIPIENT'S PHONE NUMBER</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=recipientAddress&sortDirection=' + ${reverseSortDirection}}">ADDRESS</a>
						</th>
						<th>
							<a th:href="@{'/orders/' + ${currentPage} + '?sortField=total&sortDirection=' + ${reverseSortDirection}}">TOTAL</a>
						</th>
						<th>ACTIONS</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${orderDetailList.empty}">
						<td colspan="19">No orders exist.</td>
					</tr>
					<tr th:each="orderDetail : ${orderDetailList}">
						<td th:text="${orderDetail.id}"></td>
						<td th:text="${orderDetail.userFullName}"></td>
						<td th:text="${orderDetail.username}"></td>
						<td th:text="${orderDetail.userEmail}"></td>
						<td th:text="${orderDetail.userPhoneNumber}"></td>
						<td th:text="${orderDetail.shippingPackageId}"></td>
						<td th:text="${orderDetail.packageName}"></td>
	<!--					<td th:text="${orderDetail.packageImage}"></td>-->
						<td th:text="${orderDetail.weightRange}"></td>
						<td th:text="${orderDetail.boxSize}"></td>
						<td th:text="${orderDetail.packageDescription}"></td>
						<td th:text="${orderDetail.status.getStatus()}"></td>
						<td th:text="${orderDetail.shipperId}"></td>
						<td th:text="${orderDetail.recipientFullName}"></td>
						<td th:text="${orderDetail.recipientUsername}"></td>
						<td th:text="${orderDetail.recipientEmail}"></td>
						<td th:text="${orderDetail.recipientPhoneNumber}"></td>
						<td th:text="${orderDetail.recipientAddress}"></td>
						<td th:text="${orderDetail.total + '₫'}"></td>
						<td>
							<a th:href="@{/orders/detail(id=${orderDetail.id})}" class="btn btn-info m-1">View</a>
							<a th:href="@{/orders/update(id=${orderDetail.id})}" class="btn btn-success m-1">Update</a>
							<a th:href="@{/orders/delete/{id}(id=${orderDetail.id})}" class="btn btn-danger m-1">Remove</a>
						</td>
					</tr>
				</tbody>
			</table>
			<nav>
            <ul class="pagination">
                <li class="page-item">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/orders/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span th:unless="${currentPage != 1}" class="page-link text-body" aria-hidden="true">&laquo;</span>
                </li>
                <li th:each="index: ${#numbers.sequence(1, totalPages)}" class="page-item">
                    <a th:if="${currentPage != index}"
                       th:href="@{'/orders/' + ${index} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link">[[${index}]]</a>
                    <span th:unless="${currentPage != index}" class="page-link" aria-hidden="true">[[${index}]]</span>
                </li>
                <li class="page-item">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/orders/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <span th:unless="${currentPage < totalPages}" class="page-link text-body" aria-hidden="true">&raquo;</span>
                </li>
            </ul>
        </nav>
			<a th:href="@{/orders/add}" class="btn btn-lg btn-primary mb-3">Add Order</a>
			<a th:href="@{/}" class="btn btn-lg btn-warning mb-3">Back</a>
		</div>
		<div th:replace="./v1/fragments/footer"></div>
	</body>
</html>