<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Table Order</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="./v1/fragments/navbar"></div>
	<div class="container w3-padding-64">
		<h2 style="color: blue;">Table order:</h2>
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th>Order ID</th>
					<th>User</th>
					<th>User's Username</th>
					<th>User's Email</th>
					<th>User's Phone Number</th>
					<th>Address</th>
					<th>Package ID</th>
					<th>Package Name</th>
					<th>Weight</th>
					<th>Box Size</th>
					<th>Description</th>
					<th>Status</th>
					<th>Shipper ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${orderDetailList.empty}">
					<td colspan="13">No orders exist.</td>
				</tr>
				<tr th:each="orderDetail : ${orderDetailList}">
					<td th:text="${orderDetail.id}"></td>
					<td th:text="${orderDetail.userFullname}"></td>
					<td th:text="${orderDetail.username}"></td>
					<td th:text="${orderDetail.userEmail}"></td>
					<td th:text="${orderDetail.userPhoneNumber}"></td>
					<td th:text="${orderDetail.userAddress}"></td>
					<td th:text="${orderDetail.shippingPackageId}"></td>
<!--					<td th:text="${orderDetail.packageImage}"></td>-->
					<td th:text="${orderDetail.weightRange}"></td>
					<td th:text="${orderDetail.boxSize}"></td>
					<td th:text="${orderDetail.packageDescription}"></td>
					<td th:text="${orderDetail.status}"></td>
					<td th:text="${orderDetail.shipperId}"></td>
					<td>
						<a th:href="@{/orders/update(id=${orderDetail.id})}" class="btn btn-success">Update</a>
						<a th:href="@{/orders/delete/{id}(id=${orderDetail.id})}" class="btn btn-danger">Remove</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="./v1/fragments/footer"></div>
</body>
</html>