<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
</head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container">
        <h1 class="text-center display-1">ADD BOX SIZE</h1>
        <p th:text="${errorMessage}"></p>
        <form th:action="@{/box-sizes/add}" method="post" th:object="${boxSizeDto}">
            <div class="mb-3">
                <label for="boxSize" class="form-label">Box Size:</label>
                <input th:field="*{boxSize}" type="text" class="form-control" id="boxSize">
                <span class="text-danger" th:if="${#fields.hasErrors('boxSize')}" th:errors="*{boxSize}"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary mb-3">Save</button>
            <a th:href="@{/box-sizes}" class="btn btn-lg  btn-warning mb-3">Back</a>
        </form>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>