<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delivery Tracking</title>
</head>
<body>
	<div th:replace="./v1/fragments/navbar"></div>
	<div class="container w3-padding-8">
		<h1 class="display-1 text-center">BOX SIZES</h1>
		<table
			class="table table-bordered table-bordered table-striped table-dark table-striped table-hover text-center">
			<thead>
				<tr class="text-warning">
					<th>BOX SIZE</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${boxSizes.empty}">
					<td colspan="8">No box sizes exist.</td>
				</tr>
				<tr th:each="boxSize : ${boxSizes}">
					<td th:text="${boxSize.boxSize}">ABC Express</td>
					<td><a th:href="@{/box-sizes/update(id=${boxSize.id})}"
						class="btn btn-success m-1">Update</a> <a
						th:href="@{/box-sizes/delete/{id}(id=${boxSize.id})}"
						class="btn btn-danger m-1">Remove</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/box-sizes/add}" class="btn btn-lg btn-primary">Add
			Box Size</a> <a th:href="@{/}" class="btn btn-lg btn-warning">Back</a>
	</div>
	<div th:replace="./v1/fragments/footer"></div>
</body>
</html>