<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Table Order</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="./v1/fragments/navbar"></div>
	<div class="container w3-padding-64">
		<h2 style="color: blue;">Table order:</h2>
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>from-to</th>
					<th>Price</th>
					<th>Status</th>
					<th>function</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>01</td>
					<td>Cuong</td>
					<td>0123456789</td>
					<td>quoccuong@gmail.com</td>
					<td>quận1 - quận2</td>
					<td>20 000VND</td>
					<td>đang giao</td>
					<td><a href="">Update</a>|<a href="">Detail</a>|<a href="">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="./v1/fragments/footer"></div>
</body>
</html>