<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ABC EXPRESS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<nav class="navbar navbar-light w3-light-blue" style="background-color: #e3f2fd;">
			<a href="/" class="w3-hover-text-white"
				style="color: blue; font-size: 25px; text-decoration: none;">ABC EXPRESS</a>
			<div class="w3-right w3-hide-small">
				<a th:href="@{/orders}" class="w3-bar-item w3-button" style="text-decoration: none;">Orders</a>
				<a th:href="@{/shipping-packages}" class="w3-bar-item w3-button" style="text-decoration: none;">Packages</a>
				<a th:href="@{/weights}" class="w3-bar-item w3-button" style="text-decoration: none;">Weight Ranges</a>
				<a th:href="@{/box-sizes}" class="w3-bar-item w3-button" style="text-decoration: none;">Box Sizes</a>
<!--				<a th:href="@{/shippers}" class="w3-bar-item w3-button" style="text-decoration: none;">Shippers</a>-->
				<a th:href="@{/users}" class="w3-bar-item w3-button" style="text-decoration: none;">Users</a>
				<a th:href="@{/addresses}" class="w3-bar-item w3-button" style="text-decoration: none;">Addresses</a>
				<a th:href="@{/roles}" class="w3-bar-item w3-button" style="text-decoration: none;">Roles</a>
<!--				<a th:href="@{/search}" class="w3-bar-item w3-button" style="text-decoration: none;">Search</a>-->
				<a th:href="@{/about}" class="w3-bar-item w3-button" style="text-decoration: none;">About</a>
				<a th:href="@{/contact}" class="w3-bar-item w3-button" style="text-decoration: none;">Contact</a>
				<a th:href="@{/login}" class="w3-bar-item w3-button" style="text-decoration: none;">Log In</a>
				<a th:href="@{/logout}" class="w3-bar-item w3-button" style="text-decoration: none;">Log Out</a>
		</div>
	</nav>
</body>
</html>