<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container">
        <h1 class="display-1 text-center">USERS</h1>
        <table class="table table-responsive table-bordered table-striped table-dark table-striped table-hover text-center">
            <thead>
                <tr class="text-warning">
                    <th>FULL NAME</th>
                    <th>USERNAME</th>
                    <th>EMAIL</th>
                    <th>PHONE NUMBER</th>
                    <th>DATE OF BIRTH</th>
                    <th>ADDRESS</th>
                    <th>ROLE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="8">No users exist.</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.fullName}">ABC Express</td>
                    <td th:text="${user.username}">abcexpress</td>
                    <td th:text="${user.email}">abc@abcexpress.com</td>
                    <td th:text="${user.phoneNumber}">+84123456789</td>
                    <td th:text="${user.dateOfBirth}">01/01/2021</td>
                    <td th:text="${user.address}">Hoe Chứa Mưa City</td>
                    <td th:text="${user.roleDescription}">Software Programmer</td>
                    <td>
                        <a th:href="@{/users/detail(id=${user.id})}" class="btn btn-info m-1">View</a>
                        <a th:href="@{/users/update(id=${user.id})}" class="btn btn-success m-1">Update</a>
                        <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger m-1">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/users/add}" class="btn btn-lg btn-primary mb-3">Add User</a>
        <a th:href="@{/}" class="btn btn-lg btn-warning mb-3">Back</a>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>