<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery Tracking</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center display-1">UPDATE USER</h1>
        <p th:text="${errorMessage}"></p>
        <form th:action="@{/users/update}" method="post" th:object="${userDto}">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label for="fullName" class="form-label">Full name:</label>
                <input th:field="*{fullName}" type="text" class="form-control" id="fullName">
                <span class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input th:field="*{username}" type="text" class="form-control" id="username">
                <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input th:field="*{password}" type="password" class="form-control" id="password">
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input th:field="*{email}" type="email" class="form-control" id="email">
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone number:</label>
                <input th:field="*{phoneNumber}" type="text" class="form-control" id="phoneNumber">
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">Date of birth:</label>
                <input th:field="*{dateOfBirth}" type="date" class="form-control" id="dateOfBirth">
                <span class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Address:</label>
                <select th:field="*{addressId}" class="form-control" id="address">
                    <option th:each="address : ${addresses}"
                            th:value="${address.id}"
                            th:text="${address.address}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('addressId')}" th:errors="*{addressId}"></span>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role:</label>
                <select th:field="*{roleId}" class="form-control" id="role">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.description}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Save</button>
            <a th:href="@{/users}" class="btn btn-lg  btn-warning">Back</a>
        </form>
    </div>
</body>
</html>