<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
</head>
<body>
<div th:replace="./v1/fragments/navbar"></div>
<div class="container">
    <h1 class="text-center display-1">VIEW PACKAGE</h1>
    <form th:action="@{/shipping-packages/update}" method="post" th:object="${shippingPackageDto}">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="packageName" class="form-label">Package name:</label>
            <input th:field="*{packageName}" type="text" class="form-control" id="packageName" th:disabled="true">
            <span class="text-danger" th:if="${#fields.hasErrors('packageName')}" th:errors="*{packageName}"></span>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Weight range:</label>
            <select th:field="*{weightId}" class="form-control" id="weight" th:disabled="true">
                <option th:each="weight : ${weights}"
                        th:value="${weight.id}"
                        th:text="${weight.weightRange}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('weightId')}" th:errors="*{weightId}"></span>
        </div>
        <div class="mb-3">
            <label for="boxSize" class="form-label">Box size:</label>
            <select th:field="*{boxSizeId}" class="form-control" id="boxSize" th:disabled="true">
                <option th:each="boxSize : ${boxSizes}"
                        th:value="${boxSize.id}"
                        th:text="${boxSize.boxSize}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('boxSizeId')}" th:errors="*{boxSizeId}"></span>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input th:field="*{description}" type="text" class="form-control" id="description" th:disabled="true">
            <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status:</label>
            <select th:field="*{status}" class="form-control text-center" id="status" th:disabled="true">
                <option th:each="status : ${T(vn.kase.domain.v1.shipping_package.Status).values()}" th:value="${status}" th:text="${status.getStatus}">DELIVERED</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="user" class="form-label">User:</label>
            <select th:field="*{userId}" class="form-control" id="user" th:disabled="true">
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.fullName}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
        </div>
        <a th:href="@{/shipping-packages}" class="btn btn-lg btn-warning mb-3">Back</a>
    </form>
</div>
<div th:replace="./v1/fragments/footer"></div>
</body>
</html>