<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
</head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container">
        <h1 class="display-1 text-center">PACKAGES</h1>
        <table class="table table-responsive table-bordered table-striped table-dark table-striped table-hover text-center">
            <thead>
                <tr class="text-warning">
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=packageName&sortDirection=' + ${reverseSortDirection}}">PACKAGE NAME</a>
                    </th>
<!--                    <th>IMAGE</th>-->
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=weightId&sortDirection=' + ${reverseSortDirection}}">WEIGHT</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=boxSizeId&sortDirection=' + ${reverseSortDirection}}">BOX SIZE</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=description&sortDirection=' + ${reverseSortDirection}}">DESCRIPTION</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=status&sortDirection=' + ${reverseSortDirection}}">STATUS</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=userId&sortDirection=' + ${reverseSortDirection}}">USER</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=userUsername&sortDirection=' + ${reverseSortDirection}}">USER'S USERNAME</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=userEmail&sortDirection=' + ${reverseSortDirection}}">USER'S EMAIL</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=userPhoneNumber&sortDirection=' + ${reverseSortDirection}}">USER'S PHONE NUMBER</a>
                    </th>
                    <th>
                        <a th:href="@{'/shipping-packages/' + ${currentPage} + '?sortField=userAddress&sortDirection=' + ${reverseSortDirection}}">USER'S ADDRESS</a>
                    </th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${shippingPackages.empty}">
                    <td colspan="13">No shipping packages exist.</td>
                </tr>
                <tr th:each="shippingPackage : ${shippingPackages}">
                    <td th:text="${shippingPackage.packageName}">ABC Express</td>
<!--                    <td th:text="${shippingPackage.image}">abcexpress</td>-->
                    <td th:text="${shippingPackage.weightRange}">abc@abcexpress.com</td>
                    <td th:text="${shippingPackage.boxSize}">+84123456789</td>
                    <td th:text="${shippingPackage.description}">01/01/2021</td>
                    <td th:text="${shippingPackage.status.getStatus()}">01/01/2021</td>
                    <td th:text="${shippingPackage.userFullname}">Hoe Chứa Mưa City</td>
                    <td th:text="${shippingPackage.username}">Hoe Chứa Mưa City</td>
                    <td th:text="${shippingPackage.userEmail}">Software Programmer</td>
                    <td th:text="${shippingPackage.userPhoneNumber}">Software Programmer</td>
                    <td th:text="${shippingPackage.userAddress}">Software Programmer</td>
                    <td>
                        <a th:href="@{/shipping-packages/detail(id=${shippingPackage.id})}" class="btn btn-info m-1">View</a>
                        <a th:href="@{/shipping-packages/update(id=${shippingPackage.id})}" class="btn btn-success m-1">Update</a>
                        <a th:href="@{/shipping-packages/delete/{id}(id=${shippingPackage.id})}" class="btn btn-danger m-1">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/shipping-packages/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span th:unless="${currentPage != 1}" class="page-link text-body" aria-hidden="true">&laquo;</span>
                </li>
                <li th:each="index: ${#numbers.sequence(1, totalPages)}" class="page-item">
                    <a th:if="${currentPage != index}"
                       th:href="@{'/shipping-packages/' + ${index} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link">[[${index}]]</a>
                    <span th:unless="${currentPage != index}" class="page-link" aria-hidden="true">[[${index}]]</span>
                </li>
                <li class="page-item">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/shipping-packages/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <span th:unless="${currentPage < totalPages}" class="page-link text-body" aria-hidden="true">&raquo;</span>
                </li>
            </ul>
        </nav>
        <a th:href="@{/shipping-packages/add}" class="btn btn-lg btn-primary mb-3">Add Shipping Package</a>
        <a th:href="@{/}" class="btn btn-lg btn-warning mb-3">Back</a>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>