<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Delivery Tracking</title>
</head>
<body>
	<div th:replace="./v1/fragments/navbar"></div>
	<div class="container w3-padding-8">
		<h1 class="display-1 text-center">WEIGHT RANGES</h1>
		<table
			class="table table-bordered table-bordered table-striped table-dark table-striped table-hover text-center">
			<thead>
				<tr class="text-warning">
					<th>WEIGHT RANGE</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${weights.empty}">
					<td colspan="2">No weight ranges exist.</td>
				</tr>
				<tr th:each="weight : ${weights}">
					<td th:text="${weight.weightRange}">ABC Express</td>
					<td><a th:href="@{/weights/update(id=${weight.id})}"
						class="btn btn-success m-1">Update</a> <a
						th:href="@{/weights/delete/{id}(id=${weight.id})}"
						class="btn btn-danger m-1">Remove</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/weights/add}" class="btn btn-lg btn-primary">Add
			Weight Range</a> <a th:href="@{/weights}" class="btn btn-lg btn-warning">Back</a>
	</div>
	<div th:replace="./v1/fragments/footer"></div>
</body>
</html>