<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ABC EXPRESS</title>
</head>
<body>
	<div th:replace="./v1/fragments/navbar"></div>
	<div class="container w3-padding-8">
		<h1 class="display-1 text-center">WEIGHT RANGES</h1>
		<table
			class="table table-bordered table-bordered table-striped table-dark table-striped table-hover text-center">
			<thead>
				<tr class="text-warning">
					<th>
						<a th:href="@{'/weights/' + ${currentPage} + '?sortField=weightRange&sortDirection=' + ${reverseSortDirection}}">WEIGHT RANGE</a>
					</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${weights.empty}">
					<td colspan="2">No weight ranges exist.</td>
				</tr>
				<tr th:each="weight : ${weights}">
					<td th:text="${weight.weightRange}">ABC Express</td>
					<td>
						<a th:href="@{/weights/detail(id=${weight.id})}" class="btn btn-info m-1">View</a>
						<a th:href="@{/weights/update(id=${weight.id})}" class="btn btn-success m-1">Update</a>
						<a th:href="@{/weights/delete/{id}(id=${weight.id})}" class="btn btn-danger m-1">Remove</a>
					</td>
				</tr>
			</tbody>
		</table>
		<nav>
            <ul class="pagination">
                <li class="page-item">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/weights/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span th:unless="${currentPage != 1}" class="page-link text-body" aria-hidden="true">&laquo;</span>
                </li>
                <li th:each="index: ${#numbers.sequence(1, totalPages)}" class="page-item">
                    <a th:if="${currentPage != index}"
                       th:href="@{'/weights/' + ${index} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link">[[${index}]]</a>
                    <span th:unless="${currentPage != index}" class="page-link" aria-hidden="true">[[${index}]]</span>
                </li>
                <li class="page-item">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/weights/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}"
                       class="page-link"
                       aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <span th:unless="${currentPage < totalPages}" class="page-link text-body" aria-hidden="true">&raquo;</span>
                </li>
            </ul>
        </nav>
		<a th:href="@{/weights/add}" class="btn btn-lg btn-primary mb-3">Add Weight Range</a>
		<a th:href="@{/}" class="btn btn-lg btn-warning mb-3">Back</a>
	</div>
	<div th:replace="./v1/fragments/footer"></div>
</body>
</html>