<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC EXPRESS</title>
</head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container">
        <h1 class="text-center display-1">ADD ROLE</h1>
        <p th:text="${errorMessage}"></p>
        <form th:action="@{/roles/add}" method="post" th:object="${roleDto}">
            <div class="mb-3">
                <label for="roleName" class="form-label">Role name:</label>
                <input th:field="*{roleName}" type="text" class="form-control" id="roleName">
                <span class="text-danger" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></span>
            </div>
            <div class="mb-3">
                <label for="roleDescription" class="form-label">Description:</label>
                <input th:field="*{description}" type="text" class="form-control" id="roleDescription">
                <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary mb-3">Save</button>
            <a th:href="@{/roles}" class="btn btn-lg  btn-warning mb-3">Back</a>
        </form>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>