<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery Tracking</title>
   </head>
<body>
    <div th:replace="./v1/fragments/navbar"></div>
    <div class="container w3-padding-8">
        <h1 class="display-1 text-center">ROLES</h1>
        <table 	class="table table-bordered table-bordered table-striped table-dark table-striped table-hover text-center">
            <thead>
                <tr class="text-warning">
                    <th>ROLE NAME</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${roles.empty}">
                    <td colspan="3">No roles exist.</td>
                </tr>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.roleName}">ADMINISTRATOR</td>
                    <td th:text="${role.description}">Administrator</td>
                    <td>
                        <a th:href="@{/roles/detail(id=${role.id})}" class="btn btn-info m-1">View</a>
                        <a th:href="@{/roles/update(id=${role.id})}" class="btn btn-success m-1">Update</a>
                        <a th:href="@{/roles/delete/{id}(id=${role.id})}" class="btn btn-danger m-1">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/roles/add}" class="btn btn-lg btn-primary mb-3">Add Role</a>
        <a th:href="@{/}" class="btn btn-lg btn-warning mb-3">Back</a>
    </div>
    <div th:replace="./v1/fragments/footer"></div>
</body>
</html>